.page-front-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .preview {
        position: relative;
        width: 70%;
        height: 100%;
        overflow: hidden;
        // background-color: black;

        .background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-image: url("/img/flavor-display.webp");
            background-size: cover;
            background-position: center;
            filter: blur(5px);
            transform: scale(1.01);
        }
    }

    .options {
        width: 30%;
        height: 100%;
        background-color: aqua;
        background-image: url("/img/seamless-pattern-texture-waffle-ice-cream-cone.webp");
        padding: 1rem;
        overflow-y: scroll;
    }
}
